[Desktop Entry]
Version=1.0
Type=Application
Name=Robotics Demo
Comment=Launch ROS2 Hand Controller Demo
Exec=gnome-terminal -- bash -c "/home/$USER/launch_docker.sh; exec bash"
Icon=robotics-demo.png
Terminal=true
Categories=Development;Robotics;